@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-*: initial;
  --color-primary: rgb(224 96 46);
  --color-primary-dark: rgb(190 78 35);
  --color-primary-glow: rgba(224, 96, 46, 0.12);
  --color-white: rgb(237 236 236);
  --color-softwhite: rgb(173 171 169);
  --color-label: rgb(120 118 115);
  --color-surface: rgb(27 25 19);
  --color-surface-light: rgb(32 30 24);
  --color-border: rgb(38 36 30);
  --color-background: rgb(20 18 11);
  --color-accent-green: #34d399;
  --color-accent-orange: #fb923c;
  --color-accent-red: #f87171;

  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-white;
  }

  h1 {
    @apply text-white font-bold text-xl;
  }

  h2 {
    @apply text-primary font-bold;
  }

  h3 {
    @apply text-white font-bold mb-2;
  }

  th {
    @apply text-left text-label py-1.5 px-1 font-normal;
  }

  tr {
    @apply border-t border-surface;
  }

  td {
    @apply py-2 px-1;
  }

  p {
    @apply text-softwhite leading-6;
  }

  a {
    @apply text-primary;
  }
}
