---
import PackingLists from "../../components/PackingLists"
import { PackHeader } from "../../components/PackHeader"
import "../../styles/global.css"
const { tripid } = Astro.params
const resp = await fetch(`http://127.0.0.1/trip/info/${tripid}`)
const data = await resp.json()
---

<div class="mx-auto mt-4 max-w-4xl px-4">
  <PackHeader trip={data.trip} />
  <PackingLists packs={data.packs} />
</div>
