<header class="flex justify-between items-center my-4 mx-8">
  <img src="/packstack_logo_white.png" alt="Packstack Logo" class="w-32" />
  <div class="flex gap-4 items-center">
    <a href="https://app.packstack.io/auth/login" class="font-bold">Login</a>
    <a
      href="https://app.packstack.io/auth/register"
      class="border border-primary rounded-sm py-1 px-3 font-bold">Sign up</a
    >
  </div>
</header>
