<footer class="mt-16 border-t items-center border-border">
  <div class="flex justify-between mx-auto py-12">
    <img
      src="/packstack_logo_white.png"
      alt="Packstack Logo"
      class="w-24 h-6"
    />
    <div class="flex items-center gap-6">
      <a href="https://app.packstack.io/auth/login" class="font-bold">Login</a>
      <a
        href="https://app.packstack.io/auth/register"
        class="border border-primary rounded-sm py-1 px-3 font-bold">Sign up</a
      >
    </div>
  </div>
</footer>
